.button {
  align-self: flex-end;

  &:hover {
    opacity: 0.5;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.button--square {
  background-color: rgb(79, 79, 196);
  color: white;
  padding: 5px 10px;
}

.button--remove {
  color: red;
  position: absolute;
  top: 15px;
  right: 15px;
}
