.pokemon {
  display: flex;
  background-color: rgb(222, 240, 255);
  position: relative;
  flex-direction: column;

  &:hover {
    background-color: rgb(185, 224, 255);
    cursor: pointer;
  }

  @media (width >= 650px) {
    flex-direction: row;
  }
}

.pokemon__captured {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 15px;
  width: 15px;
}

.pokemon__image {
  align-self: center;
  min-width: 120px;

  @media (width >= 650px) {
    background-color: rgb(255, 255, 255);
  }

  @media (width >= 800px) {
    width: 150px;
  }
}

.pokemon-data {
  display: flex;
  flex-direction: column;
  padding: 15px;
  flex-grow: 1;
  gap: 10px;
  justify-content: space-between;
}

.pokemon-identifiers {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.pokemon__index {
  color: rgb(72, 69, 138);
}

.pokemon__name {
  margin: 0;
  font-size: 1rem;

  @media (width >= 650px) {
    margin-right: 30px;
  }
}

.pokemon-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
