:root {
  background-color: rgb(240, 248, 255);
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Press Start 2P", system-ui;
  color: rgb(79, 79, 196);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background: none;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
