.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;

  @media (width >= 650px) {
    flex-direction: row;
  }
}

.main-container__aside {
  background-color: rgb(222, 240, 255);
  min-width: 180px;

  @media (width >= 650px) {
    padding: 40px 20px;
    width: 25vw;
  }

  @media (width >= 800px) {
    padding: 40px 40px;
  }
}

.main-content {
  padding: 5px 25px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1500px;

  @media (width >= 1000px) {
    padding: 5px 100px;
  }
}
